In [3]:
import os
from langchain_community.agent_toolkits import create_sql_agent
from langchain_community.utilities import SQLDatabase
from langchain_openai import ChatOpenAI
from dotenv import load_dotenv
import os
load_dotenv()

True

In [4]:
db_uri = os.getenv("DATABASE_URL")
db = SQLDatabase.from_uri(db_uri)
llm = ChatOpenAI(model="gpt-4o", temperature=0)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [6]:

def run_agent(question: str) -> str:
    result = agent_executor.invoke({"input": question})
    return result["output"]

In [7]:
run_agent("مجموع ارزش دلاری وارداتی از چین چقدر بوده است؟ تنها در واردات برای سال 1403")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


final, final_backup
Invoking: `sql_db_schema` with `{'table_names': 'final'}`



CREATE TABLE final (
	id INTEGER,
	year INTEGER,
	month INTEGER,
	customs_name TEXT,
	country TEXT,
	hs_code TEXT,
	hs_text TEXT,
	weight NUMERIC,
	rial NUMERIC,
	dollar NUMERIC,
	type TEXT
)

/*
3 rows from final table:
id	year	month	customs_name	country	hs_code	hs_text	weight	rial	dollar	type
2937237	1403	1	اراک	^_^	73110090	None	970301	3296538875967	8109786	صادرات
2941203	1403	1	بازارچه کیله سردشت	^_^	39241090	None	146	18159336	45	صادرات
2941204	1403	1	بازارچه کیله سردشت	^_^	65050000	None	100	15520800	38	صادرات
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT SUM(dollar) FROM final WHERE year = 1403 AND type = 'واردات' AND country = 'چین'"}`


```sql
SELECT SUM(dollar) FROM final WHERE year = 1403 AND type = 'واردات' AND country = 'چین'
```
Invoking: `sql_db_query` with `{'query': "SELECT SUM(dollar) FROM final WHERE year = 1403 AND type = 'واردات' AND country = 'چین'"}`


[(Decimal('19320184138'),)]مجموع ارزش دلاری واردات از چین در سال 1403 برابر با 19,320,184,138 دلار بوده است.

> Finished chain.

'مجموع ارزش دلاری واردات از چین در سال 1403 برابر با 19,320,184,138 دلار بوده است.'

In [8]:
run_agent("برترین گمرک ایران از نظر ارزش واردات کدام بوده است؟ تنها در واردات برای سال 1403")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


final, final_backup
Invoking: `sql_db_schema` with `{'table_names': 'final'}`



CREATE TABLE final (
	id INTEGER,
	year INTEGER,
	month INTEGER,
	customs_name TEXT,
	country TEXT,
	hs_code TEXT,
	hs_text TEXT,
	weight NUMERIC,
	rial NUMERIC,
	dollar NUMERIC,
	type TEXT
)

/*
3 rows from final table:
id	year	month	customs_name	country	hs_code	hs_text	weight	rial	dollar	type
2937237	1403	1	اراک	^_^	73110090	None	970301	3296538875967	8109786	صادرات
2941203	1403	1	بازارچه کیله سردشت	^_^	39241090	None	146	18159336	45	صادرات
2941204	1403	1	بازارچه کیله سردشت	^_^	65050000	None	100	15520800	38	صادرات
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT customs_name, SUM(dollar) as total_import_value \nFROM final \nWHERE year = 1403 AND type = 'واردات'\nGROUP BY customs_name \nORDER BY total_import_value DESC \nLIMIT 1;"}`


```sql
SELECT customs_name, SUM(dollar) as total_import_value
FROM final
WHERE year = 1403 AND type = 'واردات'
GROUP BY customs_name
ORDER BY total_import_value DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': "SELECT customs_name, SUM(dollar) as total_import_value \nFROM final \nWHERE year = 1403 AND type = 'واردات'\nGROUP BY customs_name \nORDER BY total_import_value DESC \nLIMIT 1;"}`


[('منطقه ویژه اقتصادی شهید رجایی', Decimal('20255062365'))]برترین گمرک ایران از نظر ارزش واردات در سال 1403، منطقه ویژه اقتصادی شهید رجایی بوده است با ارزش وارداتی معادل 20,255,062,365 دلار.

> Finished chain.

'برترین گمرک ایران از نظر ارزش واردات در سال 1403، منطقه ویژه اقتصادی شهید رجایی بوده است با ارزش وارداتی معادل 20,255,062,365 دلار.'

In [9]:
run_agent("برترین گمرک در مورد واردات از چین به لحاظ وزن کدام بوده؟ تنها در واردات برای سال 1403")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


categories, customers, final, order_details, orders, products, test, testproducts
Invoking: `sql_db_schema` with `{'table_names': 'final'}`



CREATE TABLE final (
	id SERIAL NOT NULL,
	year INTEGER,
	customs_name TEXT,
	country TEXT,
	hs_code TEXT,
	hs_text TEXT,
	weight NUMERIC,
	rial NUMERIC,
	dollar NUMERIC,
	month INTEGER,
	type TEXT,
	CONSTRAINT final_pkey PRIMARY KEY (id)
)

/*
3 rows from final table:
id	year	customs_name	country	hs_code	hs_text	weight	rial	dollar	month	type
3664671	1403	منطقه ویژه اقتصادی پیام	امارات متحده عربی	85171410	None	100297	2751949382755	9655963	9	واردات
3664672	1403	منطقه ویژه اقتصادی پیام	امارات متحده عربی	85171810	None	21932	307487281173	1078903	9	واردات
3664673	1403	منطقه ویژه اقتصادی پیام	امارات متحده عربی	85171890	None	8	640469460	2247	9	واردات
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT customs_name, SUM(weight) as total_weight FROM final WHERE year = 1403 AND type = 'واردات' AND country = 'چین' GROUP BY customs_name ORDER BY total_weight DESC LIMIT 1;"}`


```sql
SELECT customs_name, SUM(weight) as total_weight
FROM final
WHERE year = 1403
  AND type = 'واردات'
  AND country = 'چین'
GROUP BY customs_name
ORDER BY total_weight DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': "SELECT customs_name, SUM(weight) as total_weight FROM final WHERE year = 1403 AND type = 'واردات' AND country = 'چین' GROUP BY customs_name ORDER BY total_weight DESC LIMIT 1;"}`


[('منطقه ویژه اقتصادی شهید رجایی', Decimal('20594079243'))]برترین گمرک در مورد واردات از چین به لحاظ وزن در سال 1403، گمرک "منطقه ویژه اقتصادی شهید رجایی" بوده است.

> Finished chain.

'برترین گمرک در مورد واردات از چین به لحاظ وزن در سال 1403، گمرک "منطقه ویژه اقتصادی شهید رجایی" بوده است.'

In [ ]:
run_agent("برترین گمرک در مورد واردات از چین به لحاظ وزن کدام بوده؟ تنها در واردات برای سال 1403")